<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EGT">

    <test name="MainPage">
        <classes>
            <class name="com.egt.qa.common.gui.tests.main.SigningInTest"/>
            <class name="com.egt.qa.common.gui.tests.main.MainTest"/>
        </classes>
    </test>
    <test name="SupportPage">
        <classes>
            <class name="com.egt.qa.common.gui.tests.support.SupportTest"/>
        </classes>
    </test>
    <test name="ServicesPage">
        <classes>
            <class name="com.egt.qa.common.gui.tests.services.ServicesTest"/>
        </classes>
    </test>
</suite>
